extends layout

block content
	.col-md-12(style="margin-bottom: 4%")
		.card.card-default
			.card-header
				strong #{settings.locale.api_title}
			.card-body
				h3 #{settings.locale.api_calls}
				strong.use-mono-large #{address}/api/ENDPOINT

			table.table.table-striped
				thead.text-left
					tr
						th Endpoint
						th Description
						th Example
				tbody
					tr
						td
							strong.use-teko getdifficulty
						td
							em #{settings.locale.api_getdifficulty}
						td.use-mono
							a(href='/api/getdifficulty') #{address}/api/getdifficulty
					tr
						td
							strong.use-teko getconnectioncount
						td
							em #{settings.locale.api_getconnectioncount}
						td.use-mono
							a(href='/api/getconnectioncount') #{address}/api/getconnectioncount

					if(settings.index.show_hashrate)
						tr
							td
								strong.use-teko getnetworkhashps
							td
								em #{settings.locale.api_getnetworkhashps}
							td.use-mono
								a(href='/api/getnetworkhashps') #{address}/api/getnetworkhashps
					tr
						td
							strong.use-teko getblockcount
						td
							em #{settings.locale.api_getblockcount}
						td.use-mono
							a(href='/api/getblockcount') #{address}/api/getblockcount
					tr
						td
							strong.use-teko getblockhash [index]
						td
							em #{settings.locale.api_getblockhash}
						td.use-mono
							a(href='/api/getblockhash?index='+hashes.blockindex) #{address}/api/getblockhash?index=#{hashes.blockindex}
					tr
						td
							strong.use-teko getblock [hash]
						td
							em #{settings.locale.api_getblock}
						td.use-mono
							a(href='/api/getblock?hash='+hashes.blockhash) #{address}/api/getblock?hash=#{hashes.blockhash}
					tr
						td
							strong.use-teko getrawtransactaction [txid] [decrypt]
						td
							em #{settings.locale.api_getrawtransaction}
						td.use-mono
							a(href='/api/getrawtransaction?txid='+hashes.txhash+'&decrypt=0') #{address}/api/getrawtransaction?txid=#{hashes.txhash}&decrypt=0
							br
							br
							a(href='/api/getrawtransaction?txid='+hashes.txhash+'&decrypt=1') #{address}/api/getrawtransaction?txid=#{hashes.txhash}&decrypt=1

			.card-body
				h3 Extended API
				strong.use-mono-large #{address}/ext/ENDPOINT

			table.table.table-striped
				thead.text-left
					tr
						th Endpoint
						th Description
						th Example
				tbody
					tr
						td
							strong.use-teko getmoneysupply
						td
							em Returns the current money supply (total coins minted).
						td.use-mono
							a(href='/ext/getmoneysupply') #{address}/ext/getmoneysupply
					tr
						td
							strong.use-teko getdistribution
						td
							em Returns wealth distribution stats.
						td.use-mono
							a(href='/ext/getdistribution') #{address}/ext/getdistribution
					tr
						td
							strong.use-teko getaddress (/ext/getaddress/hash)
						td
							em Returns information for the given address.
						td.use-mono
							a(href='/ext/getaddress/'+hashes.address) #{address}/ext/getaddress/#{hashes.address}
					tr
						td
							strong.use-teko gettx (/ext/gettx/hash)
						td
							em Returns information for given transaction hash
						td.use-mono
							a(href='/ext/gettx/'+hashes.txhash) #{address}/ext/gettx/#{hashes.txhash}
					tr
						td
							strong.use-teko getbalance (/ext/getbalance/hash)
						td
							em Returns current balance of given address
						td.use-mono
							a(href='/ext/getbalance/'+hashes.address) #{address}/ext/getbalance/#{hashes.address}
					tr
						td
							strong.use-teko getlasttxsajax (/ext/getlasttxsajax/min)
						td
							em Returns last transactions greater than [min] value.
							br
							em Note: returned values are in satoshis.
						td.use-mono
							a(href='/ext/getlasttxsajax/100') #{address}/ext/getlasttxsajax/100                                              

			.card-body
				h3 Linking (GET)
				strong.use-mono-large #{address}/ENDPOINT

			table.table.table-striped
				thead.text-left
					tr
						th Endpoint
						th Description
						th Example
				tbody
					tr
						td
							strong.use-teko transaction (/tx/txid)
						td
							em Links to block explorer page for given transaction txid.
						td.use-mono
							a(href='/tx/'+hashes.txhash) #{address}/tx/#{hashes.txhash}
					tr
						td
							strong.use-teko block (/block/hash)
						td
							em Links to block explorer page for given block hash.
						td.use-mono
							a(href='/block/'+hashes.blockhash) #{address}/block/#{hashes.blockhash}
					tr
						td
							strong.use-teko address (/address/hash)
						td
							em Links to block explorer page for given address.
						td.use-mono
							a(href='/address/'+hashes.address) #{address}/address/#{hashes.address}
					tr
						td
							strong.use-teko qrcode (/qr/hash)
						td
							em Displays QR barcode for given address.
						td.use-mono
							a(href='/qr/'+hashes.address) #{address}/qr/#{hashes.address}
		.footer-padding
