extends layout

block content   
	script.
		$(document).ready(function(){
			var data = [
			['Top 1-25', !{dista.percent}],['Top 26-50', !{distb.percent}],['Top 51-75', !{distc.percent}],['Top 76-100', !{distd.percent}],['101+', !{diste.percent}]
			];
			var pieWealthDist = $.jqplot('pieChart', [data],
				{
					seriesColors: [ "#ee5f5b", "#f89406", "#5bc0de", "#62c462", "#e9ecef"],
					series: [{
						// Make this a pie chart.
						renderer: $.jqplot.PieRenderer,
						rendererOptions: {
							diameter: 260,
							padding: 0,
							sliceMargin: 4, 
							// Put data labels on the pie slices.
							// By default, labels show the percentage of the slice.
							showDataLabels: false,
						}
					}],
					grid: {borderWidth:0, shadow:false},
					legend: {
						show: false,
						rendererOptions: {
								numberRows: 1,
								border: 'none'
						},
						location: 's'
					}
				}
			);
		});
		$(window).resize(function () { 
			pieWealthDist.replot( { resetAxes: false } );
		});  
	.row
		.col-xs-12.col-md-8
			.tabpanel
				ul.nav.nav-tabs(role='tablist')
					li.nav-item(role='presentation')
						a.nav-link.active(href='#balance', aria-controls='balance', role='tab', data-toggle='tab') Balance
					li.nav-item(role='presentation')
						a.nav-link(href='#received', aria-controls='received', role='tab', data-toggle='tab') Received
			.tab-content
				#balance.tabpanel.tab-pane.active 
					include ./includes/rl_balance.pug
				#received.tabpanel.tab-pane
					include ./includes/rl_received.pug
		if show_dist == true
			.col-md-4.col-xs-12
				#summary-panel.card.card-default(style='margin-top:47px;')
					.card-header
						h5.card-title #{settings.locale.rl_wealth}
					table.table.table-hover.table-bordered
						thead
							tr
								th
								th.text-center Amount (#{settings.symbol})
								th.text-center %
						tbody
							tr
								th
									div.pull-left(style='background-color:#ee5f5b;width:20px;height:20px;margin-right:6px;')
									span #{settings.locale.rl_top25}
								- var total = parseFloat(dista.total).toLocaleString('en',{'minimumFractionDigits':8,'maximumFractionDigits':8,'useGrouping':true})
								td.text-right.use-mono #{total}
								td.text-right.use-mono #{parseFloat(dista.percent).toFixed(3)}
							tr
								th
									div.pull-left(style='background-color:#f89406;width:20px;height:20px;margin-right:6px;')
									span #{settings.locale.rl_top50}
								- var total = parseFloat(distb.total).toLocaleString('en',{'minimumFractionDigits':8,'maximumFractionDigits':8,'useGrouping':true})
								td.text-right.use-mono #{total}
								td.text-right.use-mono #{parseFloat(distb.percent).toFixed(3)}
							tr
								th
									div.pull-left(style='background-color:#5bc0de;width:20px;height:20px;margin-right:6px;')
									span #{settings.locale.rl_top75}
								- var total = parseFloat(distc.total).toLocaleString('en',{'minimumFractionDigits':8,'maximumFractionDigits':8,'useGrouping':true})
								td.text-right.use-mono #{total}
								td.text-right.use-mono #{parseFloat(distc.percent).toFixed(3)}
							tr
								th
									div.pull-left(style='background-color:#62c462;width:20px;height:20px;margin-right:6px;')
									span #{settings.locale.rl_top100}
								- var total = parseFloat(distd.total).toLocaleString('en',{'minimumFractionDigits':8,'maximumFractionDigits':8,'useGrouping':true})
								td.text-right.use-mono #{total}
								td.text-right.use-mono #{parseFloat(distd.percent).toFixed(3)}
							tr
								th
									div.pull-left(style='background-color:#e9ecef;width:20px;height:20px;margin-right:6px;')
									span #{settings.locale.rl_hundredplus}
								- var total = parseFloat(diste.total).toLocaleString('en',{'minimumFractionDigits':8,'maximumFractionDigits':8,'useGrouping':true})
								td.text-right.use-mono #{total}
								td.text-right.use-mono #{parseFloat(diste.percent).toFixed(3)}
				center
					div#pieChart(style="width:300px;height:300px;margin:0px;")
	.row.footer-margin
